.wrapper {
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
}

.inner {
    width: 800px;
    user-select: none;
}

.title {
    font-size: 2.4rem;
    margin-top: 32px;
}

.content {
    margin-top: 24px;
    p {
        text-align: justify;
        &+p {
            margin-top: 15px;
        }
    }
}